body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.background-image {
    background-size: cover;
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    background-image: url("/src/assets/about_me.png");
}

.hero-text {
    background-image: url('/src/assets/hero_text.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 75px;
    min-width: 550px;
    position: absolute;
    top: 75px;
    left: 200px;
}

.pic-with-caption {
    display: flex;
    position: absolute;
    top: 200px;
    left: 300px;
    align-items: center;
    flex-direction: row;
}

.profile-pic {
    background-image: url('/src/assets/contact_pic.jpeg');
    height: 350px;
    width: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-description {
    padding: 4rem;
    margin: 3rem;

}

