body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.background-image {
    background-size: cover;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/src/assets/about_me.png");
}


.hero-text {
    width: 30%;
    margin: 2rem 0rem;
}

.pic-with-caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 1200px;
}

.profile-pic {
    max-width: 40%;
}

.about-text {
    width: 700px;
}

.about-intro {
    padding: 1rem; 
    margin: 0 auto; 
    max-width: 1200px; 
}

.about-description {
    padding: 0rem 4rem 0rem 4rem;
    font-size: large;
    text-align: left;
}

@media (width <= 1350px) {
    .background-image {
        align-items: center;
    }

    .hero-text {
        width: 50%;
    }
    
    .profile-pic {
        max-width: 40%;
    }
}

@media (width <= 700px) {
    .about-text {
        width: 500px;
    }

}

