* {
    box-sizing: border-box;
    color: black;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.background-image {
    background-size: cover;
    background-position: center;
    background-image: url("/src/assets/about_me.png");
}

.page-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 80px;
}

.hero-text {
    width: 60%;
    margin: 2rem 0rem;
}

.page-left {
    display: flex;
    flex-direction: column;
    width: 40%; 
    align-items: flex-start;
}

.profile-pic {
    max-width: 100%;
    border-radius: 15px;
}

.about-intro {
    padding: 1rem; 
    margin: 0 auto; 
    max-width: 1200px; 
}

.about-description {
    width: 50%;
    align-content: center;
    padding: 2rem;
    font-weight: 600;
    text-align: left;
    background-color: color(srgb 1 0.9987 0.99 / 0.57);
    border-radius: 15px;
    margin-top: 8rem;
}
