#root {
  max-width: 1280px;
  background-color: #f0e9e9;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d5cfcf;
  cursor: pointer;
  transition: border-color 0.25s;
}

body {
  background-color: #f0e9e9;
  margin: 0;
  padding: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

* {
  box-sizing: border-box;
  color: #463f3a;
}

.logo {
  height: 7em;
  padding: 1em;
}

.nav {
  justify-self: center;
  background-color: #ffffff;
  border-color: #463f3a;
  border-width: medium;
  border-style: solid;
  display: flex;
  color: #463f3a;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  list-style: none;
  display: flex;
  min-width: 0;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 24px;
  padding-left: 0;
  margin-right: 2rem;
}

.nav ul #hidden{
  display: flex;
}

.nav-icons {
  width: 40px;
}

.site-title {
  font-size: 3rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.nav li:hover {
  background-color: #886390;
  border-radius: 10px;
  color: white;
  padding-left: 0.5rem;
  padding-bottom: 0.1rem;
  translate: 10px 10px;
  transition-property: translate;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 0.15s;
}

.nav button {
  display: none;
}

@media only screen and (max-width: 850px) {
  .nav ul {
    font-size: 20px;
  }

  ul.skills-list li {
    font-size: 14px;
  }
}

@media only screen and (max-width: 750px) {
  .nav ul {
    font-size: 15px;
  }

  ul.skills-list li {
    font-size: 12px;
  }

  .nav-icons {
    height: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .nav button {
    display: flex;
  }

  .nav ul {
    display: none;
  }

  .nav #hidden {
      display: flex;
      position: absolute;
      left: 0px;
      top: 130px;
      font-size: 20px;
      width: 100%;
      background-color: #ffffff;
      flex-direction: column;
      align-items: center;
      border-color: #463f3a;
      border-width: medium;
      border-style: dotted;
    }
}

.about-section {
  color: #463f3a;
  text-align: left;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.text-container {
  flex: 1;
  background-color: #ffffff;
  margin-right: 10px;
  border-color: #463f3a;
  border-style: solid;
  padding: 6rem;
  margin:auto;
}

.profile-pic {
  display: flex;
  width: 50%;
  height: auto;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  align-content: flex-end;
  border-width: 0.5rem;
  border-color: #463f3a;
  border-style: dotted;
  border-radius: 20px;
  overflow-x: hidden;
}

ul.skills-list {
  text-align: center;
  column-count: 2;
  padding-left: 0;
  list-style: none;
  font-size: 24px;
  transition: transform 0.2s ease-in-out;
}

ul.skills-list li {
  position: relative;
  margin-bottom: 0.5em;
  border-color: #463f3a;
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  background-color: #ffffff;
}

ul.skills-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 1em;
  background-image: url('../src/assets/star.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

ul.skills-list li:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.resume-text {
  font-size: larger;
}

.projects-card {
  border-color: #463f3a;
  border-style: dotted;
  border-width: 0.5rem;
  border-radius: 20px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.card-padding-inside{
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.fix-padding {
  padding-left: 0;
}

.projects-tags {
  display: inline-block;
  list-style: none;
  border-color: #886390;
  border-style: solid;
  border-width: flex;
  border-radius: 25px;
  background-color: #886390;
  color: #ffffff;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.projects-tags:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.projects-title {
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}

.here {
  font-weight: bold;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-right {
  color: #463f3a;
  font-size: 25px;
}

.contact-right-container {
  background-color: #ffffff;
  border-color: #463f3a;
  border-style: solid;
}

.contact-pic {
  width: 50%;
  margin-bottom: 5%;
  border-width: 0.5rem;
  border-color: #463f3a;
  border-style: dotted;
  border-radius: 20px;
  margin-right: 3rem;
}

.contact-button {
  background-color: #ffffff;
  border-color: #463f3a;
  border-width: 3px;
  margin-bottom: 3rem;
}

.contact-button:hover {
  border-style: dotted;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}